.Pokegame {
  box-shadow: 5px 5px 10px black;
  background-color: #fff;
  width: 20rem;
}
.Pokegame-details {
  text-align: center;
  background-color: white;
  padding: 1rem;
}
.Pokegame-image img {
  width: 100%;
}
.Pokegame-image {
  border: 1rem solid white;
}
.isWinner {
  background-color: green;
}

.isLoser {
  background-color: red;
}
